@media only screen and (min-width: 768px) and (max-width: 992px) {
/* For tablets: */

.col-s-1 {width: 8.33%;}
.col-s-2 {width: 16.66%;}
.col-s-3 {width: 25%;}
.col-s-4 {width: 33.33%;}
.col-s-5 {width: 41.66%;}
.col-s-6 {width: 50%;}
.col-s-7 {width: 58.33%;}
.col-s-8 {width: 66.66%;}
.col-s-9 {width: 75%;}
.col-s-10 {width: 83.33%;}
.col-s-11 {width: 91.66%;}
.col-s-12 {width: 100%;}

* {
  box-sizing: border-box;
} 

body, html {
  height: 100%;
  margin: 0;
  overflow-x: hidden;
  background-color: #556270;
  font-family: Roboto;
}

[class*="col-"] {
  float: left;
  padding: 20px;
  margin-top: -20px;
}

.row::after {
  content: "";
  clear: both;
  display: table;
}

div.gallery img {
  width: 100%;
  height: auto;
  margin-top: 15px;
}

ul {
  list-style-type: none;
  margin: 40px 0 20px 0;
  padding: 0;
}

li {
  display: inline;
  font-size: 12px;
  padding: 10px;
  color: white;
}

.ul1 {
  margin-left: 40px;
  float: left;
}

.ul2 {
  margin-right: 40px;
  float: right;
}

#banner {
  clear: left;
  position: relative;
  background-image: none;
  height: 170px;
  background-color: white;
  border-bottom: solid 0.5px lightgrey;
} 

.absolute {
  position: absolute;
  top: 50px;
  left: 50px;
  width: 100%;
  color: black;
}

h1 {
font-size:40px;
line-height:15px;
}

p {
  font-family: Roboto;
  font-size: 14px;
}

.photolist {
  clear: left;
  height: auto;
  max-width: 100%;
  padding: 20px;
  background: white;
}

.photolist > h2 {
  margin-left: 30px;
  margin-top: 10px;
}

.photolist > p {
  margin-left: 30px;
  margin-top: 10px;
}

.footer {
  padding: 25px;
  height: 500px;
  background-color: white;
}

a {
  text-decoration: none;
}

}