@media only screen and (min-width: 768px) and (max-width: 992px) {
/* For tablets: */ 
* {
  box-sizing: border-box;
} 

body, html {
  height: 100%;
  margin: 0;
  overflow-x: hidden;
}

ul {
  list-style-type: none;
  margin: 20px 0 20px 0;
  padding: 0;
}

li {
  display: inline;
  padding: 10px;
}

.ul1 {
  margin-left: 50px;
  float: left;
  font-family: Lora;
  font-weight: bold;
  font-size: 14px;
}

.ul2 {
  margin-right: 50px;
  float: right;
  font-family: Roboto;
  font-size: 12px;
}

p {
  font-family: Roboto;
  font-size: 14px;
}

header {
  clear: both;
  height: 400px;
  text-align: center;
  padding: 150px;
  background-image: url("../img/Vietnam.jpg");
  background-size: 100% 700px;
  background-repeat: no-repeat;
  color: white;
}

.row {
  display: flex;
  flex-wrap: wrap;
  height: 1300px;
}

.main {
  flex: 75%;
  background-color: #E6E6E6;
  padding: 40px;
}

.side {
  flex: 25%;
  padding: 40px;
}

h2 > img {
  margin-bottom: 30px;
  width: 100%;
  height: 700px;
}

.side > h2 {font-size: 18px;}
.side > p {font-size: 14px;}

footer {
  float:left;
  clear:none; 
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: grey;
  color: white;
  text-align: center;
  height: 200px;
  padding: 10px;
}

footer > h2 {
  margin-left: 30px;
}

footer > p {
  margin-left: 30px;
}

a {
  text-decoration: none;
  color: black;
}


}